In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
!pip install scikit-learn
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

Requirement already satisfied: scikit-learn in c:\users\dell india\appdata\local\programs\python\python311\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\dell india\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.26.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\dell india\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dell india\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\dell india\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
df=pd.read_csv('Resume.csv')
df.head()

                                          Resume_str  Unnamed: 1 Category
0           HR ADMINISTRATOR/MARKETING ASSOCIATE\...         NaN       HR
1           HR SPECIALIST, US HR OPERATIONS      ...         NaN       HR
2           HR DIRECTOR       Summary      Over 2...         NaN       HR
3           HR SPECIALIST       Summary    Dedica...         NaN       HR
4           HR MANAGER         Skill Highlights  ...         NaN       HR

In [3]:
df.drop(df.iloc[:, 3:], inplace=True, axis=1)
df.head()

                                          Resume_str  Unnamed: 1 Category
0           HR ADMINISTRATOR/MARKETING ASSOCIATE\...         NaN       HR
1           HR SPECIALIST, US HR OPERATIONS      ...         NaN       HR
2           HR DIRECTOR       Summary      Over 2...         NaN       HR
3           HR SPECIALIST       Summary    Dedica...         NaN       HR
4           HR MANAGER         Skill Highlights  ...         NaN       HR

In [4]:
df.drop(df.iloc[:, 1:2], inplace=True, axis=1)
df.head()

                                          Resume_str Category
0           HR ADMINISTRATOR/MARKETING ASSOCIATE\...       HR
1           HR SPECIALIST, US HR OPERATIONS      ...       HR
2           HR DIRECTOR       Summary      Over 2...       HR
3           HR SPECIALIST       Summary    Dedica...       HR
4           HR MANAGER         Skill Highlights  ...       HR

In [5]:
df.shape

(2456, 2)

In [6]:
df.describe()

,Resume_str,Category
count,2456,2456
unique,2454,24
top,STOREKEEPER II Professional Sum...,INFORMATION-TECHNOLOGY
freq,2,119

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2456 entries, 0 to 2455
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Resume_str  2456 non-null   object
 1   Category    2456 non-null   object
dtypes: object(2)
memory usage: 38.5+ KB

In [8]:
df.rename(columns={'Resume_str': 'Content'}, inplace=True)
df.head()

                                             Content Category
0           HR ADMINISTRATOR/MARKETING ASSOCIATE\...       HR
1           HR SPECIALIST, US HR OPERATIONS      ...       HR
2           HR DIRECTOR       Summary      Over 2...       HR
3           HR SPECIALIST       Summary    Dedica...       HR
4           HR MANAGER         Skill Highlights  ...       HR

In [9]:
import re
def clean_text(text):
    cleantext = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    cleantext = re.sub(r'\S+@\S+', '', cleantext)
    cleantext = re.sub(r'[^A-Za-z0-9\s]', '', cleantext)
    cleantext = re.sub(r'\d+', '', cleantext)
    cleantext = re.sub(r'\s+', ' ', cleantext).strip()
    return cleantext

In [10]:
df['Content']=df['Content'].apply(lambda x:clean_text(x))
df.sample(20)

                                                Content              Category
1932  SENIOR CONSTRUCTION MANAGER Summary Constructi...          CONSTRUCTION
36    HR GENERALIST Summary Human Resource Manager a...                    HR
349   TEACHER Profile I am a highly qualified K Voca...               TEACHER
2005  LABORER Summary To utilize the knowledge and e...          CONSTRUCTION
1431  GENERAL MANAGER EXECUTIVE CHEF Summary Dedicat...                  CHEF
652   BUSINESS DEVELOPMENT EXECUTIVE Summary An achi...  BUSINESS-DEVELOPMENT
768   HOSPITAL PHYSICIAN BILLING SPECIALIST Professi...            HEALTHCARE
573   BUSINESS DEVELOPMENT LEADER Summary BUSINESS D...  BUSINESS-DEVELOPMENT
2062  P DIRECTOR INFORMATION SYSTEMS PACS ADMINISTRA...      PUBLIC-RELATIONS
703   LICENSED UNITED HEALTHCARE INSURANCE SALES AGE...            HEALTHCARE
2357  AVIATION RECORDS ANALYST Summary Highly organi...              AVIATION
1562  SR FINANCE MANAGER Summary Finance professiona...               FINANCE
2394  QUALITY ASSURANCE MANAGER Professional Summary...              AVIATION
421   TEACHER ASSISTANT Work History Company Name Pr...               TEACHER
1865  SENIOR ACCOUNTANT Professional Summary Senior ...            ACCOUNTANT
660   NEW BUSINESS DEVELOPMENT MANAGER Summary BUSIN...  BUSINESS-DEVELOPMENT
366   TEACHER Summary Teacher with years experience ...               TEACHER
2200  VP Career Focus To lead the executive manageme...               BANKING
47    HR CONSULTANT Summary Subject matter expert in...                    HR
1677  ENGINEERING INTERN Summary Candidate with a fi...           ENGINEERING

In [11]:
df['Category'] = df['Category'].str.lower()
df['Content'] = df['Content'].str.lower()
df.sample(10)

,Content,Category
232,information technology specialistsystem analys...,information-technology
195,creative graphic designer summary after review...,designer
1686,s engineering instructor summary seeking an in...,engineering
1231,substitute teacher summary enthusiastic artist...,digital-media
478,customer service advocate professional summary...,advocate
660,new business development manager summary busin...,business-development
1397,coownermanager chef professional summary thank...,chef
2323,college assistant summary professional leader ...,arts
2439,supply chain manager summary operations manage...,aviation
1616,buyerplanner summary detailoriented analytical...,apparel

In [12]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
le.fit(df['Category'])
df['Category']=le.transform(df['Category'])
df.sample(10)

                                                Content  Category
2440  entrepreneur general manager summary over year...         6
1570  senior accountant finance controller summary a...        16
304   administrative assistant director human resour...        20
2169  program assistant professional summary program...         7
1293  digital marketing associate summary dynamic an...        14
1497  finance director experience finance director t...        16
432   substitute teacher professional summary enthus...        23
703   licensed united healthcare insurance sales age...        18
1818  accountant professional summary i am an enthus...         0
984   sales summary account manager focused on maxim...        22

In [13]:
df['Category'].unique()

array([19, 13, 20, 23,  1,  9, 18, 17,  2,  8, 22, 12, 14,  5, 10, 16,  3,
       15,  0, 11, 21,  7,  4,  6])

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(stop_words='english')
tfidf.fit(df['Content'])
vectorised=tfidf.transform(df['Content'])
vectorised

<2456x48058 sparse matrix of type '<class 'numpy.float64'>'
	with 755258 stored elements in Compressed Sparse Row format>

In [15]:
!pip install xgboost
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Requirement already satisfied: xgboost in c:\users\dell india\appdata\local\programs\python\python311\lib\site-packages (2.1.1)
Requirement already satisfied: numpy in c:\users\dell india\appdata\local\programs\python\python311\lib\site-packages (from xgboost) (1.26.1)
Requirement already satisfied: scipy in c:\users\dell india\appdata\local\programs\python\python311\lib\site-packages (from xgboost) (1.11.3)

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from xgboost import XGBClassifier


X=vectorised
y=df['Category']
models = {
    # "Logistic Regression": LogisticRegression(max_iter=2000000,penalty='l1',
    # C=1.0,
    # solver='saga',
    # tol=1e-9),
    #"Gradient Descent (SGD)": SGDClassifier(max_iter=100000000, tol=1e-9,learning_rate='adaptive', eta0=0.05),
    "XGBoost": XGBClassifier(eval_metric='mlogloss',booster='gbtree',
    eta=0.085,
    max_depth=10,
    min_child_weight=1,
    gamma=0.1,
    subsample=0.8,
    colsample_bytree=0.8,
    alpha=0)
    
}


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"{model_name}: {accuracy * 100:.2f}%")
    print("########################################")

XGBoost: 78.25%
########################################

In [ ]:
from sklearn.model_selection import train_test_split, GridSearchCV
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Defining the model
xgb_model = XGBClassifier(eval_metric='mlogloss', booster='gbtree')

# Defining the parameter grid
param_grid = {
    'eta': [0.09, 0.05, 0.085],
    'max_depth': [6, 8, 10],
    'min_child_weight': [1, 3, 5],
    'gamma': [0, 0.1, 0.2],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0],
    'alpha': [0, 0.1, 1]
}

# Setting up GridSearchCV
grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, scoring='accuracy', cv=3, verbose=1, n_jobs=-1)

# Fitting the model
grid_search.fit(X_train, y_train)

# Best parameters and accuracy
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

print(f"Best Parameters: {best_params}")
print(f"Accuracy: {accuracy * 100:.2f}%")

Fitting 3 folds for each of 2187 candidates, totalling 6561 fits

In [ ]:
# from sklearn.model_selection import GridSearchCV
# from sklearn.linear_model import SGDRegressor
# from sklearn.metrics import make_scorer, mean_squared_error

# # Define the model
# model = SGDRegressor()

# # Define the parameter grid
# param_grid = {
#     'learning_rate': [ 'optimal','adaptive'],
#     'eta0': [0.01,0.1,1,10],
#     'max_iter': [ 100000000],
#     'tol': [1e-3,1e-5,1e-7,]
# }

# # Define the scoring function
# scorer = make_scorer(mean_squared_error, greater_is_better=False)

# # Perform grid search
# grid_search = GridSearchCV(estimator=model, param_grid=param_grid, scoring=scorer, cv=2)
# grid_search.fit(X_train, y_train)

# # Print the best parameters and the corresponding score
# print("Best parameters found: ", grid_search.best_params_)
# print("Best score: ", grid_search.best_score_)

In [19]:
# from sklearn.model_selection import GridSearchCV
# from sklearn.linear_model import LogisticRegression

# # Define the parameter grid
# param_grid = {
#     'C': [0.001, 0.01, 0.1, 1, 10, 100],
#     'penalty': ['l1', 'l2'],
#     'solver': ['liblinear', 'saga']
# }

# # Initialize the Logistic Regression model
# log_reg = LogisticRegression(max_iter=200000000)

# # Set up the Grid Search
# grid_search = GridSearchCV(log_reg, param_grid, cv=2, scoring='accuracy')

# # Fit the model
# grid_search.fit(X_train, y_train)

# # Get the best parameters and score
# best_params = grid_search.best_params_
# best_score = grid_search.best_score_

# print(f"Best Parameters: {best_params}")
# print(f"Best Score: {best_score}")

c:\Users\Dell India\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_sag.py:349: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Users\Dell India\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_sag.py:349: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Users\Dell India\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_sag.py:349: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

Best Parameters: {'C': 1, 'penalty': 'l1', 'solver': 'saga'}
Best Score: 0.7168973862159659

Noticing that XGBOOST is giving best result. Therefore moving forward with XGBOOST.(Terminated the above cell manually)

In [ ]:
# from sklearn.model_selection import GridSearchCV
# from sklearn.metrics import mean_squared_error


# params = {
#     'objective': 'reg:squarederror',
#     'eval_metric': 'rmse',
#     'max_depth': 5,
#     'eta': 0.1,
#     'subsample': 0.8,
#     'colsample_bytree': 0.8}
# print("exec 1")
# cv_result = xgb.cv(params, dtrain, num_boost_round=1000, nfold=5, early_stopping_rounds=50, metrics="rmse", seed=42)
# best_num_boost_round = len(cv_result)
# print(f"Optimal number of boosting rounds: {best_num_boost_round}")
      
# print("exec 2")
# param_grid = {
#     'max_depth': [3, 5, 7],
#     'min_child_weight': [1, 5, 10],
#     'subsample': [0.8, 0.9, 1.0],
#     'colsample_bytree': [0.8, 0.9, 1.0],
#     'eta': [0.01, 0.1, 0.2]
# }
      
# xgb_reg = xgb.XGBRegressor(objective='reg:squarederror', n_estimators=best_num_boost_round)
# grid_search = GridSearchCV(xgb_reg, param_grid, scoring='neg_mean_squared_error', cv=5)
# grid_search.fit(X, y)
# print("exec 3")
      
      
# best_params = grid_search.best_params_
# print(f"Best parameters: {best_params}")

# # Train the model with best parameters
# final_model = xgb.XGBRegressor(**best_params, n_estimators=best_num_boost_round)
# final_model.fit(X, y)
# print("exec 4")


# # Predictions and RMSE
# y_pred = final_model.predict(X)
# rmse = np.sqrt(mean_squared_error(y, y_pred))
# print(f"RMSE: {rmse}")



# # xgb_model = XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')
# # grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, cv=3, scoring='accuracy', verbose=1, n_jobs=-1)

# # grid_search.fit(X_train, y_train)
# # best_params = grid_search.best_params_
# # best_score = grid_search.best_score_

# # print(f"Best parameters: {best_params}")
# # print(f"Best cross-validation accuracy: {best_score * 100:.2f}%")

# # best_xgb_model = grid_search.best_estimator_
# # best_xgb_model.fit(X_train, y_train)
# # y_pred = best_xgb_model.predict(X_test)
# # accuracy = accuracy_score(y_test, y_pred)

# # print(f"Test accuracy: {accuracy * 100:.2f}%")